<style>
.loading {
  text-align: center;
  position: absolute;
  padding-left: 200px;
  padding-top: 100px;
  height: 20px;
  font-size: 30px;
}

.hidden {
  display: none;
}

#eu-chart {
  width: 920px;
}

/* disable tooltips on zero threshold */
#ifr-chart g.sub._0 g.dc-tooltip-list {
  display: none;
}

/* hide legend item for zero threshold */
#ifr-chart g.dc-legend g:first-child {
	display: none;
}

#ifr-chart g.sub._0 g.stack._0 path.line {
	opacity: 0.48;
	stroke-width: 1px;
}

#country-chart g.row text {
  fill: black;
}

/* erase redundant non-data ink */
.dc-chart g.axis {
  opacity: .48;
}
</style>
